In [2]:
# LIST METHODS

# 1. append()
names = ["Tayo", "Ade", "Kemi", "Bayo"]
names.append("Olaitan")
print(names)

['Tayo', 'Ade', 'Kemi', 'Bayo', 'Olaitan']

In [8]:
# 2. copy()

roles = ["Doctor", "Lawyer", "Teacher", "Engineer", "Student"]
copied_list = roles.copy()
print(copied_list)

['Doctor', 'Lawyer', 'Teacher', 'Engineer', 'Student']

In [12]:
# 3. clear()

debt_in_naira = [10000, 1000, 500, 200, 300]
cleared_debt = debt_in_naira.clear()
print(cleared_debt)

None

In [20]:
# 4. sort()

my_list = [3, 2, 4, 1, 5, 9, 6]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5, 6, 9]

In [27]:
# 5. count()

fruits = ["apples", "mango", "orange", "pineapple", "pawpaw", "grapes", "apples"]
count_of_apples = fruits.count("apples")
print(count_of_apples)
print(fruits)

2
['apples', 'mango', 'orange', 'pineapple', 'pawpaw', 'grapes', 'apples']

In [29]:
# 6. extend()

list_1 = [1, 3, 5]
list_2 = [2, 4, 6]
list_1.extend(list_2)
print(list_1)

[1, 3, 5, 2, 4, 6]

In [32]:
# TUPLES
# 1. count()

Tuple = ("skills", "python", "geek", "python", "for", "tech", "python") 
new = Tuple.count("python") 
print("The count of Python in Tuple is:", new)

The count of Python in Tuple is: 3

In [33]:
# 2. index()

Tuple = (6, 4, 2, 3, 2, 3, 4, 3, 2) 
  
new = Tuple.index(4) 
print("The first occurrence of 4 is", new)

The first occurrence of 4 is 1

In [34]:
# 3. len()

my_tuple = (0, 1, 2, 3)
length = len(my_tuple)
print("The length of my tuple is", length)

The length of my tuple is 4

In [38]:
# 4. sorted()

Tuple = (3, 0, 4, 1, 5, 9, 2)
sorted_tuple = tuple(sorted(Tuple))
print("My sorted tuple is", sorted_tuple)

My sorted tuple is (0, 1, 2, 3, 4, 5, 9)

In [39]:
# 5. max()

Tuple = ( 10, 30, 40, 20, 50, 60 ) 
   
new = max(Tuple) 
print("The maximum Tuple is", new)

The maximum Tuple is 60

In [40]:
# 6. min()

Tuple = ( 10, 30, 40, 20, 50, 60 ) 
   
new = min(Tuple) 
print("The minimum Tuple is", new)

The minimum Tuple is 10

In [42]:
# Dictionaries
# 1. keys()

my_dict = {'a': 1, 'b': 2, 'c': 3}
keys = my_dict.keys()
print("The dictionary keys are", keys)

The dictionary keys are dict_keys(['a', 'b', 'c'])

In [43]:
# 2. items()

my_dict = {'a': 1, 'b': 2, 'c': 3}
items = my_dict.items()
print("Items in the dictionary are", items)

Items in the dictionary are dict_items([('a', 1), ('b', 2), ('c', 3)])

In [45]:
# 3. get()

my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict.get('b', 0)
print("The value is", value)

The value is 2

In [47]:
# 4. pop()

my_dict = {'a': 1, 'b': 2, 'c': 3}
popped_value = my_dict.pop('b')
print("The popped values are", my_dict, popped_value)

The popped values are {'a': 1, 'c': 3} 2

In [51]:
# 5. update()

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict1.update(dict2)
print("The updated dictionary", dict1)

The updated dictionary {'a': 1, 'b': 3, 'c': 4}

In [53]:
# 6. values()

my_dict = {'a': 1, 'b': 2, 'c': 3}
values = my_dict.values()
print("The values in the dictionary are", values)

The values in the dictionary are dict_values([1, 2, 3])

In [55]:
# methods
# 1. sum()

numbers = [1, 2, 3, 4, 5]
sum_result = sum(numbers)
print("The sum of numbers are", sum_result)

The sum of numbers are 15

In [56]:
# 2. append()

numbers = [1, 2, 3]
numbers.append(4)
print("The new list is", numbers)

The new list is [1, 2, 3, 4]

In [57]:
# 3. replace()

text = "Hello, World!"
new_text = text.replace("World", "Python")
print("The new text is", new_text)

The new text is Hello, Python!